#mainWrapper {
  max-width: 400px;
  min-width: 400px;
  padding-top: 85px;
}

.pad-adjust {
  padding-top: 20px;
}

.img-padded {
  padding-top: 0px;
}

.small-font {
  font-size: 9px;
  padding-top: 10px;
}

.alert-danger {
  display: none;
}


/* Animation on icon button */

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

#loading-button-content {
  display: none;
}

